<div class="container">
   <h2 class="my-4 text-center">Nuestro Equipo</h2>
   <div class="row row-cols-1 row-cols-md-3 g-4 py-4 m-3">

      <div class="col">
         <div class="card h-100">
            <div class="card-header justify-content-center">
               <img src="../../../assets/img/favicon.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
               <h5 class="card-title text-center">Lucas Mardones Vivanco</h5>
               <p class="card-text text-center">Universidad de Talca</p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card h-100">
            <div class="card-header justify-content-center">
               <img src="../../../assets/img/favicon.jpg" class="card-img-top rounded-circle" alt="...">
            </div>

            <div class="card-body">
               <h5 class="card-title text-center">Isis Aguilar Orellana</h5>
               <p class="card-text text-center">Universidad </p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card h-100">
            <div class="card-header justify-content-center">
               <img src="../../../assets/img/favicon.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
               <h5 class="card-title text-center">Francisco Sepúlveda Barrientos</h5>
               <p class="card-text text-center">Universidad Diego Portales</p>
            </div>
         </div>
      </div>
   </div>
</div>